/* @import "tailwindcss"; */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.title {
  font-family: Daily-Q;
  color: #fff;
  
  margin-left:15px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  vertical-align: middle;
 /* //background-color: #9c9c9c;
  //background-position: cover;
  */
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ellipsis {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-loading {
  animation: loading 3s infinite;
}

.animate-fade-in {
  animation: fade-in 1.5s ease-in-out forwards;
}

.animate-delay-200 {
  animation-delay: 0.2s;
}

.animate-ellipsis {
  animation: ellipsis 1.5s infinite; /* Creates the ellipsis animation */
}
.animate-ellipsis-delay-100 {
  animation: ellipsis 1.5s infinite 0.1s; /* Delay for the second dot */
}

.animate-ellipsis-delay-200 {
  animation: ellipsis 1.5s infinite 0.2s; /* Delay for the third dot */
}



/* Background overlay */
.app-alert-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2.5rem; /* p-10 equivalent */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px); /* Equivalent to backdrop-blur-md */
  color: white;
  font-size: 1.25rem; /* text-xl */
  font-weight: bold;
  z-index: 40;
}

/* Alert Box */
.app-alert-box {
  background-color: #3b82f6; /* bg-blue-500 */
  padding: 1rem; /* p-4 */
  border-radius: 0.5rem; /* rounded-lg */
  width: 100%;
  max-width: 50%; /* md:w-1/2 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms ease-out;
  position: relative;
}

/* Alert Box - closing animation */
.app-alert-box.closing {
  opacity: 0;
  transform: scale(0.95);
}

/* Close button */
.app-alert-close-btn {
  font-size: 0.875rem; /* text-sm */
  font-weight: bold;
  background: transparent;
  color: black;
  position: absolute;
  top: 0.5rem; /* Adjust for some spacing from the top */
  right: 0.5rem; /* Adjust for some spacing from the right */
  
}




/* Media Queries for Mobile */
@media (max-width: 768px) {
 .title{
  font-size: 35px;
 }
 .app-alert-overlay {
  padding: 1.25rem; /* p-10 equivalent */
  font-size: 0.7rem; /* text-xl */
}
 .app-alert-box {
  padding: 0.4rem; /* p-4 */
  max-width: 100%; /* md:w-1/2 */
}
.app-alert-close-btn {
  font-size: 0.6rem; /* text-sm */
  top: 0.05rem; /* Adjust for some spacing from the top */
  right: 0.05rem; /* Adjust for some spacing from the right */
  
}
}

/* For larger screens */
@media (min-width: 769px) {
 .title{
  font-size: 50px;
 }
}
